alias afk='/System/Library/CoreServices/Menu\ Extras/User.menu/Contents/Resources/CGSession -suspend'
alias cat='bat'
alias cp='cp -R'
alias flushdns='alias flush="dscacheutil -flushcache && killall -HUP mDNSResponder"'
alias ipaddress='dig +short myip.opendns.com @resolver1.opendns.com'
alias ll='ls -laF'
alias localip='ipconfig getifaddr en0'
alias mkdir='mkdir -p'
alias q='exit'
